*{
  font-family: 'Titillium Web', sans-serif;
}

#navbar{
  background: #57bc90;
  margin: 0;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

#navbar ul li{
  padding: 10px 25px 0px 25px;
}

#navbar a{
  color: white;
}

#navbar a:hover{
  text-decoration: none;
  color: #89ffcc;
}


#welcome-section{
  height:100vh;
  background: #57bc90;
  color: white;
  margin: 0px;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#transition1{
  height: 100px;
  background: linear-gradient(180deg, #57bc90, #015249);
}

#projects{
  background: #015249;
  text-align: center;
  color: white;
  min-height:100vh;
  display:flex;
  flex-direction: column;
}

.project-tile{
  border: 2px solid #A5A5A5;
  width: 90%;
  align-self: center;
  color: #555;
  margin: 15px auto;
  background-color: white;
  border-radius: 15px;
}

.project-tile img{
  width:100%;
  padding:5px;
  border-radius: 10px;
}

.project-tile:hover{
  text-decoration: none;
  color: #555;
}

.project-title{
  font-size:1.2rem;
  margin-bottom:5px;
}

#transition2{
  height: 100px;
  background: linear-gradient(180deg, #015249, #77c9d4);
}

#contact{
  background-color:#77c9d4;
  color: #555;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
}

#contact h1{
  grid-column:1/3;
  grid-row:1;
}

.contact-link{
  color: inherit;
}

.contact-link:hover{
  color: #777
}

.transition3{
  height:100px;
  background: linear-gradient(180deg, #77c9d4, #77c9d4);
}

footer{
  text-align: center;
  background-color: #77c9d4;
  padding-bottom:10px;
  color: #555;
}

@media (min-width:550px) and (max-width:739px){
  #projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .project-tile{
    height: 240px
  }

  #projects h1{
    grid-column:1/3;
  }

  #contact{
    grid-template-columns: repeat(3,1fr);
  }

  #contact h1{
    grid-column: 1/4;
  }

  #linkedin{
    grid-column:2;
  }
}

@media (min-width:740px){
  #projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  #projects h1{
    grid-column:1/3;
  }

  .project-tile img{
    max-width: 100%;
  }

  #contact{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
  }

  #contact h1{
    grid-column:1/5;
  }

  #linkedin{
    grid-column:4;
    grid-row: 2;
  }
}
