*{
  font-family: 'Titillium Web', sans-serif;
}

.hide{
  display: none;
}

#navbar{
  background: #57bc90;
  margin: 0;
  box-shadow: 0 3px 2px #57bc90;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

#navbar ul li{
  padding: 10px 25px 10px 25px;
}

#navbar a{
  color: white;
}

#navbar a:hover{
  text-decoration: none;
  color: #89ffcc;
}


#welcome-section{
  height:100vh;
  background: #57bc90;
  color: white;
  margin: 0px;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-section h6{
  display: flex;
  justify-content: center;
}

#transition1{
  height: 100px;
  background: linear-gradient(180deg, #57bc90, #015249);
}

#projects{
  background: #015249;
  text-align: center;
  color: white;
  min-height:100vh;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

}

.project-tile{
  display:none;
}

#projectCarousel{
  max-width: 75%;
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 15px 10px 10px rgba(207, 207, 207, 0.5);
}

.carousel-caption{
  background-color: rgba(50,50,50,.7);
}


#transition2{
  height: 100px;
  background: linear-gradient(180deg, #015249, #77c9d4);
}

#contact{
  background-color:#77c9d4;
  color: #555;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

#contact h1{
  grid-column:1/-1;
}

.contact-link{
  color: inherit;
}

.contact-link:hover{
  color: #777
}

.transition3{
  height:100px;
  background: linear-gradient(180deg, #77c9d4, #77c9d4);
}

footer{
  text-align: center;
  background-color: #77c9d4;
  padding-bottom:10px;
  color: #555;
}

@media (min-width:550px) and (max-width:739px){

  #projects{
    min-height: 50vh;
    padding: 100px auto;
  }

  #project-tile{
    display:none;
  }

  #project-carousel{
    max-width: 85%;
  }

  #contact{
    grid-template-columns: repeat(3,1fr);
  }
  #linkedin{
    grid-column: 2;
  }
}

@media (max-width:550px){
  #projects{
    min-height: 100vh;
    padding: 100px auto;
    justify-items: center;
  }

  .project-tile{
    display: grid;
    justify-items: center;
  }

  .project-tile img{
    display: block;
    width: 90%;
  }

  #projectCarousel{
    display: none;
  }
 
  #contact{
    grid-template-columns: repeat(2,1fr);
    width: 100%;
  }
}
